<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="https://media.istockphoto.com/vectors/cloud-storage-service-icon-isolated-on-white-background-vector-vector-id1202990767?k=20&m=1202990767&s=612x612&w=0&h=0zGlJE3q9j-Pg7Z-w7CXARc57amOAQbeJRBXRye26Cc="
  />
  <span>Welcome</span>
    <div class="spacer"></div>
    <!-- user actions here logout login etc etc -->
</div>

<div class="content" role="main">

  <!-- Highlight Card -->
  <div class="card highlight-card card-small">

    <svg id="cloudCMS" xmlns="http://www.w3.org/2000/svg" width="101.678" height="101.678" viewBox="0 0 101.678 101.678">
      <title>cloudCMS Ship</title>
      <g id="Group_83" data-name="Group 83" transform="translate(-141 -696)">
        <circle id="Ellipse_8" data-name="Ellipse 8" cx="50.839" cy="50.839" r="50.839" transform="translate(141 696)" fill="#dd0031"/>
        <g id="Group_47" data-name="Group 47" transform="translate(165.185 720.185)"> </g>
      </g>
    </svg>
    <img id="cloudCMS" src="../assets/cloud.svg" width="91.678" height="101.678" viewBox="0 0 101.678 101.678" transform="translate(-941 -696)" style="z-index: 10;"/>
    <span>Welcome to your premium cloud storage drive!</span>

    <svg id="cloudCMS-smoke" xmlns="http://www.w3.org/2000/svg" width="516.119" height="1083.632" viewBox="0 0 516.119 1083.632">
      <title>cloudCMS Ship Smoke</title>
      <path id="Path_40" data-name="Path 40" d="M644.6,141S143.02,215.537,147.049,870.207s342.774,201.755,342.774,201.755S404.659,847.213,388.815,762.2c-27.116-145.51-11.551-384.124,271.9-609.1C671.15,139.365,644.6,141,644.6,141Z" transform="translate(-147.025 -140.939)" fill="#f5f5f5"/>
    </svg>

  </div>
<router-outlet></router-outlet>
 
</div>
  
