<a class="card cardFolder" target="_blank" rel="noopener" *ngFor="let folder of folders" (click)="folderClicked(folder)">
    <div class="divDarkBrownTop"></div>
    <label class="labelFolderName">{{folder}}</label>
    <div class="divBlueBottom"></div>
  </a>
                                                        <!-- fileovi -->
  <a class="card cardFile" target="_blank" rel="noopener" *ngFor="let file of files" style="cursor: pointer;" (click)="fileClicked(file)">
    <app-file [fileName]="file"></app-file>
    <!-- <label>{{file}}.txt</label> -->
    <div class="divWhiteBottom"></div>
  </a>